* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    z-index: 1;
    background: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: #1D1D1D;
    color: white;
    text-align: center;
    padding-top: 10px;
}

nav {
	text-align: center;
	background: #1D1D1D;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
	padding: 30px;
    margin-bottom: 60px;
}

h2 {
    font-size: 40px;
    margin-bottom: 25px;
    text-decoration: underline;
}

h3 {
    margin-top: 20px;
}

h4 {
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

h4:hover {
    color: grey;
}

a {
	text-decoration: none;
    padding: 10px;
	color: white;
    cursor: pointer;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px;
}

a:hover {
    color: #1D1D1D;
    background: white;
}

ul {
	padding: 0;
	display: inline;

}

li {
	list-style-type: none;
	display: inline;
	margin: 10px;
}

label {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: underline;
}

footer { 
	background:#1D1D1D;
	color: white;
	text-align: center;
	padding: 15px;
    margin-top: 50px;
 }

 /* INPUTS */

 input::file-selector-button {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: #1D1D1D;
    color: white;
}
 input::file-selector-button:hover, input[type=submit]:hover {
    background: grey;
}

input[type=text] {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 16px;
}

textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }

  select {
    cursor: pointer;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }

  input[type=submit] {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: #1D1D1D;
    color: white;
  }

/* CLASS */

.containeur {
    padding: 3rem;
    width: 30%;
    padding-top: 15px;
    overflow: hidden;
    background: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
    text-align: center;
}

.containeur a {
    padding: 0px;
    color: black;
}


/* CLASS JavaScript */

.popUp {
    height: 27%;
    width: 25%;
    padding: 10px;
    position: fixed;
    border-radius: 20px;
    background: white;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.glass{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: #000000;
}

.popUpTopDiv {
    padding: 5px;
    text-align: right;
}

.img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form input[type="text"] {
    margin-bottom: 15px;
}

.form input[type="submit"] {
    cursor: pointer;
    background: #1D1D1D;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.form input[type="submit"]:hover {
opacity: 0.7;
}

@media only screen and (max-width: 1240px) {
    
    .containeur { 
        width: 60%;
    }

    .popUp {
        height: 27%;
        width: 35%;
    }
}

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 35px;
    }

    a { 
        font-size: 11px;
        padding: 0px;
        border: none;
    }

    textarea {
        width: 80%
    }

    .containeur { 
        width: 80%;
        padding: 15px 0;
    }

    .popUp {
        height: 27%;
        width: 80%;
    }
}